body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    transition: 0.5s;
    padding-right: 0 !important
}
canvas{
    height: 93.5%;
    width: 100%;    
}
#myNavmenu{
    transition: 0.5s;
    top: 56px;
}
.logo{
    font-size: x-large;
}
.sub{
    font-size: x-large;
}
.block{
    position: absolute;
    border-radius: 5px;
    background-color: crimson;
    opacity: 0.7;  
}
.del_img{
    float: right;
    width: 25px;
    cursor: pointer;
    user-select: none;
}
.open_nav { 
    position: absolute;
    background-color: rgba(52,74,94)!important;;
    top: 85%; 
    margin-left: 30px; 
    user-select: none; 
}
.open_nav:hover{
    background-color: darkcyan;
    transition: .3s;
}
.modal_o{
    position: absolute;
    height: 50%;
    width: 50%;
    background: chocolate;
    top: 25%;
    left: 25%;
    margin-right: -50%;
    border-radius: 5px;
}
.modal{
    top: 25%;
}
.add_screen_label{
    margin-top: 5%;
}
.blackout{
    position: fixed;
    top: 56px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    z-index: 10;
}
.rotate{
    transition: 0.5s;
    transform: rotate(180deg);
}
.navhead{
    background-color: rgba(52,74,94)!important;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.main{
    margin-top: 62px;
}
.open_menu{
    left: 0px;
}
.close_menu{
    left: -300px;
}
.left{
    left: 300px;
}
.open_screen{
    text-align: center;
    justify-content: center;
    margin-top: -6%;
    margin-left: 5%;
    display: inline-block;
    width: 70%;
}
.delete_screen{
    float: right;
    margin-top: -5%;
    margin-right: 5%;
}
.edit_screen{
    margin-left: 2%;
    width: 48%;
}
.add_screen{
    width: 47.5%;
}
.buttons{
    position: absolute;
    top: 90%;
    left: 5%;
    width: 90%;
}
#select_method_area{
    width: 90%;
    margin-left: 5%;
}